*,p{
	margin: 0;
	padding: 0;
}
a{
	color: #000000;
	text-decoration: none;
}
body{
	background: #f4f4f4;
}
.top{
	width: 100%;
	height: 170px;
	background: url(../images/jfgl.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 45px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
}
.top h3{
	margin-top: 0;
}
.tpline{
	width: 92%;
	margin: 5% 4%;
	background: #FFFFFF;
	border-radius: 10px;
	height: 50px;
	line-height: 50px;
	margin-top: -20px;
}
.tpline p{
	width: 49%;
	text-align: center;
	font-size: 1.5rem;
}
.jfjl{
	width: 92%;
	margin: 5% 4%;
	background: #FFFFFF;
	border-radius: 10px;
	padding: 5% 4%;
}
.tit{
	color: #666666;
}
.jfjl li{
	list-style: none;
	margin: 3% 0;
	border-bottom:1px solid #F1F1F1 ;
	font-size: 1.5rem;
	padding: 3% 0;
	color: #666666;
}
.jfjl li p:nth-child(1) span{
	color:#fe547a ;
}
.jfjl li p:nth-child(2){
	font-size: 1.3rem;
	color: #999999;
}
